

/*.container{

	border: solid red 2px;
	background:url(film1.png);
	background-repeat:no-repeat;
 	background-size: 100%;
 	height: 900px;
}*/

	body{
		
		font-family: Permanent Marker;
		color: #c60b15;
	}
    .form-control{
    	color: #c60b15;
		height: 40px;
		box-shadow: none;
		/*color: #969fa4;*/
	}
	.form-control:focus{

		border: 5px solid transparent;
    	padding: 15px;
    	border-image: url(border.png) 20% round; /* Safari 3.1-5 */

	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 400px;
		margin: 0 auto;
		padding: 30px 0;
		
	}

	.signup-form h2{
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #c60b15;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #5cb85c;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		
		border-radius: 0px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;

		background:url(singnupbackground.png);
		background-size: 100%;
		background-repeat:no-repeat;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
/*	.signup-form input[type="checkbox"]{
		
	}*/
	.signup-form .btn{  
		margin-top: 20px;      
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}    	
    .signup-form a{
		color: #5cb85c;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}  
